@model AgendaClinica.Models.DiaAgendaVM
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Adicionar horário diário</h3>
</div>
<div>
    @using (Ajax.BeginForm("AdicionarDia", "Agenda", null, new { @id = "frmDia" }))
    {
        @Html.HiddenFor(x => x.IdOdontologista)
        <div class="modal-body">
            <div class="row ">
                <div class="col-lg-12">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    @Html.LabelFor(x => x.Data)
                    @Html.TextBoxFor(x => x.Data, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Data, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(x => x.HorarioAtendimentoInicio)
                    @Html.TextBoxFor(x => x.HorarioAtendimentoInicio, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.HorarioAtendimentoInicio, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-md-6">
                    @Html.LabelFor(x => x.HorarioAtendimentoTermino)
                    @Html.TextBoxFor(x => x.HorarioAtendimentoTermino, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.HorarioAtendimentoTermino, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancelar</button>
            <button class="btn btn-success" id="btnSalvarDia">Salvar</button>
        </div>
    }
</div>


<script>
    $(document).ready(function () {
        $("#HorarioAtendimentoInicio").mask('00:00');
        $("#HorarioAtendimentoTermino").mask('00:00');

        if ($("#HorarioAtendimentoTermino").val() === '00:00')
            $("#HorarioAtendimentoTermino").val('');

        if ($("#HorarioAtendimentoInicio").val() === '00:00')
            $("#HorarioAtendimentoInicio").val('');

        $("#Data").mask('99/99/9999');

        if ($("#Data").val() === '01/01/0001')
            $("#Data").val('');
        
        
        $("#Data").datepicker({
            format: 'dd/mm/yyyy',
            dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
            dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
            dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
            monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
            monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
            dateFormat: 'dd/mm/yy',
            nextText: 'Próximo',
            prevText: 'Anterior',
            defaultDate: new Date()
        });

        $('#btnSalvarDia').on('click', function (evt) {
            evt.preventDefault();

            $.ajax({
                url: '@Url.Action("AdicionarDia","Agenda")',
                data: $('#frmDia').serialize(),
                type: 'POST',
                cache: false,
                async: false,
                success: function (response) {
                    if (response.Status === -1) {
                        $('#containerAddAgenda').html(response.View);
                    }
                    else {
                        window.location.reload();
                    }
                }
            });
        });
    });
</script>

